@model IEnumerable<Request>
@using HelpDesc.Models
@{
    ViewBag.Title = "Назначенные заявки ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE HOVER -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-left">@ViewBag.Title : @(Model.Count<Request>())</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Статус</th>
                                <th>Преоритет</th>
                                <th>Файл</th>
                                <th>Дата откр.</th>
                                <th>Заголовок</th>
                                <th>Описание</th>
                                <th>Исполнитель</th>
                                <th>Цикл</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        @if (item.Status == (int)RequestStatus.Open)
                                        {
                                            <button type="button" class="btn btn-default btn-sm" disabled="disabled"><i class="fa fa-plus-square"></i> Открыта </button>
                                        }
                                        else if (item.Status == (int)RequestStatus.Distributed)
                                        {
                                            <button type="button" class="btn btn-info btn-sm" disabled="disabled"><i class="fa fa-user"></i> Распределена</button>
                                        }
                                        else if (item.Status == (int)RequestStatus.Proccesing)
                                        {
                                            <button type="button" class="btn btn-primary btn-sm" disabled="disabled"><i class="fa fa-refresh fa-spin"></i> В процессе</button>
                                        }
                                        else if (item.Status == (int)RequestStatus.Checking)
                                        {
                                            <button type="button" class="btn btn-primary btn-sm" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> На проверке</button>
                                        }
                                        else if (item.Status == (int)RequestStatus.Closed)
                                        {
                                            <button type="button" class="btn btn-success btn-sm" disabled="disabled"><i class="fa fa-check-circle"></i> Закрыта</button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Priority == (int)RequestPriority.Low)
                                        {
                                            <span class="label label-success">Низкий</span>
                                        }
                                        else if (item.Priority == (int)RequestPriority.Medium)
                                        {
                                            <span class="label label-info">Средний</span>
                                        }
                                        else if (item.Priority == (int)RequestPriority.High)
                                        {
                                            <span class="label label-warning">Высокий</span>
                                        }
                                        else if (item.Priority == (int)RequestPriority.Critical)
                                        {
                                            <span class="label label-danger">Критический</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.File != null)
                                        {
                                            <a href="/Request/Download/@item.Id"><img src="../../Content/icon/AttachFile.png" alt='@item.File' class="tdImage" height="35" /></a>
                                        }
                                        else
                                        {
                                            <img src="../../Content/icon/CancelFile.png" alt="без файла изображения" class="tdImage" height="35" />
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lifecycle.Opened)

                                    </td>
                                    <td>
                                        <a href="@Url.Action("MoreRequest", "Request",new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </td>
                                    <td>
                                        <div>
                                            <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Описание заявки"
                                               href="@Url.Action("Details", "Request",new { id = item.Id })">
                                                <img src="../../Content/icon/информация.png" class="tdImage" title="Описание заявки" height="35" />
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @if (item.ExecutorId != null)
                                            {
                                                <a class="openDialog" data-dialog-id="executorDialog" data-dialog-title="Исполнитель заявки"
                                                   href="@Url.Action("Executor", "Request", new { id = item.ExecutorId })">
                                                    <img src="../../Content/icon/CheckedUser.png" class="tdImage" title="Исполнитель заявки" height="35" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a data-dialog-title="Исполнитель заявки">
                                                    <img src="../../Content/icon/User.png" class="tdImage" title="Исполнитель заявки" height="35" />
                                                </a>
                                            }

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a class="openDialog" data-dialog-id="lifecycleDialog" data-dialog-title="Жизненный цикл заявки"
                                               href="@Url.Action("Lifecycle", "Request",new { id = item.LifecycleId })">
                                                <img src="../../Content/icon/Repeat.png" class="tdImage" title="Жизненный цикл заявки" height="35" />
                                            </a>
                                        </div>
                                    </td>
                                    @using (Html.BeginForm())
                                    {
                                        <td>
                                            @Html.Hidden("requestId", item.Id)
                                            @if (item.Status == (int)RequestStatus.Distributed)
                                            {
                                                @Html.DropDownList("status", new[] { new SelectListItem() { Text = "В процессе", Value = "3" },
                                                    new SelectListItem() { Text = "На проверке", Value = "4" }, new SelectListItem() { Text = "Закрыта", Value = "5" }}, new { @class = "form-control" })
                                            }
                                            else if (item.Status == (int)RequestStatus.Proccesing)
                                            {
                                                @Html.DropDownList("status", new[] { new SelectListItem() { Text = "На проверке", Value = "4" }, new SelectListItem() { Text = "Закрыта", Value = "5" } }, new { @class = "form-control" })
                                            }
                                            else if (item.Status == (int)RequestStatus.Checking)
                                            {
                                                @Html.DropDownList("status", new[] { new SelectListItem() { Text = "Закрыта", Value = "5" } }, new { @class = "form-control" })
                                            }
                                        </td>
                                        <td>
                                            <button type="submit" value="Назначить" class="btn btn-primary btn-sm"><i class="fa fa-check-circle"></i></button>

                                        </td>
                                           }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END TABLE HOVER -->
        </div>
    </div>
</div>
