@model Department
@using HelpDesc.Models
@{
    ViewBag.Title = "Отделы";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- INPUTS -->
            <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                   @using (Html.BeginForm())
                   {
                        @Html.ValidationSummary(true)
                        @Html.LabelFor(model => model.Name)
                        <input type="text" class="form-control" name="Name">
                        @Html.ValidationMessageFor(model => model.Name)
                        <br />
                        <button type="submit" class="btn btn-primary">Добавить отдел</button>
                    }
                </div>
            </div>
            <!-- END INPUTS -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE HOVER -->
            <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Название отдела</th>
                                <th>Операции</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (Department item in ViewBag.Departments)
                           {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("DeleteDepartment",new { id = item.Id })"><i class="fa fa-trash-o"></i> Удалить</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END TABLE HOVER -->
        </div>
    </div>
</div>
